[submodule "PCB/_library"]
	path = PCB/_library
	url = https://github.com/laszloh/kicad_library.git
[submodule "Software/esp8266-temperature/lib/WiFiManager"]
	path = Software/esp8266-temperature/lib/WiFiManager
	url = https://github.com/laszloh/WiFiManager.git
	branch = dev-ota
